<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/blog/home">Tabibito</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blogs
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/blog/home">Most Recent</a></li>
            <li><a class="dropdown-item" href="/blog/add">Add a Post</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Locations
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/blog/location/africa">Africa</a></li>
            <li><a class="dropdown-item" href="/blog/location/antartica">Antartica</a></li>
            <li><a class="dropdown-item" href="/blog/location/asia">Asia</a></li>
            <li><a class="dropdown-item" href="/blog/location/europe">Europe</a></li>
            <li><a class="dropdown-item" href="/blog/location/north-america">North America</a></li>
            <li><a class="dropdown-item" href="/blog/location/south-america">South America</a></li>
          </ul>
        </li>
  </div>
  </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ms-auto flex-nowrap">
        <li class="nav-item">
          <a class="nav-link" href="/users/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
        </ul>
        </div>

      </ul>
  
</nav>
<br>


<div class="container">
  <div class="opacity-75">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">

<h2>Hello, {{user.userName}}</h2>

{{#if user}}

<img src="{{user.imageUrl}}" class="rounded-circle" style="max-width:10%;">
<br>
Name: {{user.firstName}} {{user.lastName}}
<br>
Email: {{user.email}}
<br>
<br>
<div class="row">
  <div class="col-md-6">
    <form action="/users/profile" method="post" enctype="multipart/form-data">
 
      <div class="form-group">
        <label>Add/Change Profile Picture:
          <input type="file" name="imageUrl" class="form-control-file" />
        </label>
      </div>

 <br>
      <button type="submit" class="btn btn-success">Save changes</button>
    </form>
  </div>
</div>

{{/if}}

</div>
</div>
</div>
</div>