<nav>
    <a href="/blog/add">New Entry</a>
    <a href="/blog/home">Go Back</a>
</nav>
<h2>{{title}}</h2>

<p>Last updated: {{updatedAt}}</p>
<p>Written by: {{author.userName}}<p>
<p>{{post}}</p>
<hr>

<a href="/blog/edit/{{_id}}"><button>Edit Post</button></a>

<form action="/blog/delete/{{_id}}" method="get">
<button type="submit">Delete Post</button>
</form>